@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "@tailwindcss/typography";
@import "tailwindcss-animated";
@import "tailwindcss";

@theme {
    /* screen sizes */
    --breakpoint-xs: 475px;

    /* colors */
    --color-primary: #ee2b69;
    --color-primary-100: #ffe8f0;
    --color-secondary: "#FBE843";
    --color-black-100: "#333333";
    --color-black-200: "#141413";
    --color-black-300: "#7D8087";
    --color-white-100: "#F7F7F7";

    /* font family */
    --font-work-sans: "Work Sans", sans-serif;
}
